* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    height: 100vh;
    max-width: 576px;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0e1629;
}

.header-text {
    font-size: 28px;
    margin: 15px auto;
    padding: 10px 0;
    color: #fff;
}

.header-search {
    width: 400px;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    font-size: 18px;
}

.movie-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
}

.movie-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 23px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.movie-title {
    font-size: 21px;
}